* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #212529;
  margin: 0;
  font-family: "Lato", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1000px;
  margin: 0px auto;
  text-align: center;
}

.product-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  margin: 10px auto;
  max-width: 1000px;
}

.product-details {
  text-align: center;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: 10px auto;
  max-width: 1000px;
}

.product {
  display: -ms-grid;
  display: grid;
  text-align: center;
  margin: 10px;
  padding: 10px 5px;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.cart-product {
  text-align: center;
  margin: 10px;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.cta-button {
  color: #FFFFFF;
  font-size: 1em;
  background-color: #212529;
  padding: 10px;
  margin: 5px;
}

@media (max-width: 850px) {
  .product-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.menu {
  padding: 20px;
}

.menu-container {
  text-align: center;
  background-color: #2742DB;
  width: 100%;
}

.menu a {
  font-family: "Playfair Display", serif;
  color: #FFFFFF;
  padding: 20px;
}

#logout {
  background: #212529;
  border-radius: 5px;
  border: none;
  width: 200px;
  padding: 1rem;
  color: white;
  cursor: pointer;
}

h1 {
  font-family: "Playfair Display", serif;
  color: #FFFFFF;
}

h2 {
  font-family: "Playfair Display", serif;
  color: #212529;
}

h3 {
  font-family: "Playfair Display", serif;
  color: #FFFFFF;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 1em;
}

a {
  font-family: "Lato", sans-serif !important;
  text-decoration: none;
}

span {
  color: white;
}

footer {
  background-color: #2742DB;
  margin-top: 20px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

footer p, h3 {
  color: #FFFFFF;
}

.subscribe input {
  margin: 5px;
  width: 100%;
  padding: 10px;
  font-size: 1em;
}

@media (max-width: 850px) {
  footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.container {
  max-width: 760px;
  margin: 0 auto;
}

form {
  padding: 20px;
  background: white;
  border-radius: 10px;
}

input {
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 1em;
}

button {
  background: #212529;
  border-radius: 5px;
  margin: 5px;
  border: none;
  width: 200px;
  padding: 1rem;
  color: white;
  cursor: pointer;
}

label {
  display: block;
  margin-top: 1rem;
}

.form-error {
  display: none;
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
}
/*# sourceMappingURL=style.css.map */