* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}


body {
    background-color: #f9f9f9;
    margin: 0 ;
    display: grid;
    grid-template-rows: auto 1fr auto;
}



.wrapper {
    flex: 1 0 auto;
}

.container {
    align-items: center;
    max-width: 1000px;
    margin: 0px auto;
    text-align: center;
}

//Product design

.featured,.product ,.cart-product{
    text-align: center;
    filter: drop-shadow(1px 3px 3px  getColour(black));
    background-color: getColour(white);
    margin: 10px;
    padding:20px;
}

//Home page

.hero-banner {
    position: relative;
    text-align: center;
}

.banner-heading {
    filter: drop-shadow(3px 1px 1px black);
    position: absolute;
    font-size: 5em;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-banner img {
    max-height: 90vh;
    width: 100%;
    margin: 0px;
}

.featured-products {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.featured img {
    max-height: 300px;
}


//Productpage

.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 10px auto;
    max-width: 1000px;
}

.search {
    color: blue;
    max-width: fit-content;
}



//Cartpage

.cart {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cart img {
    max-height: 200px;
}

.price {
    font-weight: bold;
}


//Call to action`s

.cta-button { 
    background-color: getColour(blue);
    font-family: $font-a;
    color: getColour(white);
    font-size: 1em;
    padding: 1em 4em;
    cursor: pointer;
    display: table;
    
    &:hover { 
    border: 2px solid getColour(darkgrey);
    font-size: 1.2em;
    transition: 0.5s;
    background-color: getColour(hover);
}
}

.cta-link {
    color: getColour(blue);
    margin-bottom: 10px;

    &:hover {
        font-size: 1.2em;
        text-decoration: underline;
        transition: 0.5s;
     }
}


//image

img {
    margin: 0px auto;
    max-width:100%;
}


//Product details

.product-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 20px;
    border-radius: 2px;
    margin: 10px auto;
    max-width: 1000px;
}

.product-details i {
   color: getColour(blue);
}

.details {
    padding: 20px;
    text-align: left;
}

.product-size {
    display:inline-flex;
}

.size {
    background-color: white;
    font-weight: bold;
    border: 2px solid getColour(black) ;
    padding: 10px;
    margin: 10px;
}

.details-img {
    padding: 20px;
}

.details-text {
    max-width: 400px;
}

@media (max-width: 850px) {
    
    .product-container {
        grid-template-columns: 1fr 1fr;
    }

    .product-details {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .details {
        margin-top: 10px;
        padding: 10px;
        text-align: left;
    }
    
    .product-size {
        display:inline-flex;
    }

    .cart {
        display: grid;
        grid-template-columns:1fr;
    }
    
    .size {
        font-weight: bold;
        border: 2px solid getColour(black) ;
        padding: 10px;
        margin: 10px;
    }
    
     .hero-banner img {
        max-height: 90vh;
        max-width: 100%;
        margin: 0px;
    }

   img {
       max-width: 300px;
       max-height: 300px;
   }
    
    .details-text {
        max-width: 400px;
    }

    .featured-products {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .banner-heading {
        font-size: 4em;
    }

   

}

@media (max-width: 670px) { 
    .product-container {
        grid-template-columns: 1fr;
    }
}