* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}


body {
    background-image: url(../../img/SP2-background.jpg);
    margin: 0 ;
    display: grid;
    grid-template-rows: auto 1fr auto;
   
}



/*.wrapper {
    flex: 1 0 auto;
}*/

.container {
    align-items: center;
    max-width: 1000px;
    margin: 0px auto;
    text-align: center;
}

//Productpage

.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 10px auto;
    max-width: 1000px;
}

.search {
    color: blue;
    max-width: fit-content;
}



.product {
    text-align: center;
    background-color: getColour(white);
    margin: 10px;
    padding-bottom: 10px;
}

.price {
    font-weight: bold;
}

.cart-product {
    text-align: center;
    margin: 10px;
    padding: 20px;
    background-color: getColour(white);
    border-radius: 10px;
}

.cta-button { 
    background-color: getColour(blue);
    font-family: $font-a;
    color: getColour(white);
    font-size: 1em;
    padding: 1em 4em;
    cursor: pointer;
    display: table;
}

.cta-link {
    color: getColour(blue);
    margin-bottom: 10px;
}

.cta-link:hover {
   font-size: 1.1em;
   text-decoration: underline;
   transition: 0.5s;
}
/*border-radius: 2px;
    background-color: getColour(blue);
    padding: 10px;
    margin: 5px;*/

img {
    margin: 0px auto;
    max-width:100%;
}

hr {
    display: none;
}

//Product details

.product-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 20px;
    border-radius: 2px;
    margin: 10px auto;
    max-width: 1000px;
}

.details {
    padding: 20px;
    text-align: left;
}

.product-size {
    display:inline-flex;
}

.size {
    font-weight: bold;
    border: 2px solid getColour(black) ;
    padding: 10px;
    margin: 10px;
}

.details-img {
    padding: 20px;
}

.details-text {
    max-width: 400px;
}

@media (max-width: 850px) {
    
    .product-container {
        grid-template-columns: 1fr 1fr;
    }

    .product-details {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .details {
        margin-top: 10px;
        padding: 10px;
        text-align: left;
    }
    
    .product-size {
        display:inline-flex;
    }
    
    .size {
        font-weight: bold;
        border: 2px solid getColour(black) ;
        padding: 10px;
        margin: 10px;
    }
    
    
   img {
       max-width: 300px;
   }
    
    .details-text {
        max-width: 400px;
    }

}

@media (max-width: 670px) { 
    .product-container {
        grid-template-columns: 1fr;
    }

    hr {
        display: contents;
        color: getColour(blue);
    }
}