* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}


body {
    background-color: getColour(darkgrey);
    margin: 0 ;
    font-family: $font-text;
    display: flex;
    flex-direction: column;
}



.wrapper {
    flex: 1 0 auto;
}

.container {
    align-items: center;
    max-width: 1000px;
    margin: 0px auto;
    text-align: center;
}

//Productpage

.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 10px auto;
    max-width: 1000px;
}

.product-details {
    text-align: center;
    padding: 20px;
    background-color: getColour(white);
    border-radius: 10px;
    margin: 10px auto;
    max-width: 1000px;
}

.product {
    display: grid;
    text-align: center;
    margin: 10px;
    padding: 10px 5px;
    background-color: getColour(white);
    border-radius: 10px;
}

.cart-product {
    text-align: center;
    margin: 10px;
    padding: 20px;
    background-color: getColour(white);
    border-radius: 10px;
}

.cta-button {
    color: getColour(white);
    font-size: 1em;
    background-color: getColour(darkgrey);
    padding: 10px;
    margin: 5px;
}

@media (max-width: 850px) {
    
    .product-container {
        grid-template-columns: 1fr 1fr;

    }

}