/*footer {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    background-color: getColour(white);
    margin-top: 2rem;
    font-size: 0.8em;
    padding: 0.5em;

   
    
    
    i {
    color: getColour(darkgrey);
    font-size: 40px;
}

a {
    color: white;
    text-decoration: none;
}

    a:hover {
        color: getColour(primary);
    }
} */

 