// footer sammen slik at vi bruker sass

footer {
   background-color: getColour(blue);
   margin-top: 20px;
   text-align: center;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr;
}

footer p , h3 {
    color: getColour(white);
}

.entrance {
    text-align: center;
}



@media (max-width: 850px) {
    
    footer {
        grid-template-columns: 1fr;

    }

}