.container {
    max-width: 1000px;
    margin: auto;
}

form {
    border-radius: 10px;
    border: 2px solid getColour(blue);
    background-color: getColour(white);
    padding: 20px;
    margin: 20px;
    width: 400px;
}


//input og textarea sammen
input {
    border: 2px solid getColour(blue);
    background-color: getColour(darkgrey);
    border-radius: 2px;
    width: 100%;
    padding: 1em;
    font-size: 1em;
}

textarea {
    background-color: getColour(darkgrey);
    border: 2px solid getColour(blue) ;
    width: 100%;
    margin-bottom: 10px;
}


button {
    cursor: pointer;
    font-size: 1em;
    background: getColour(blue);
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: none;
    width: 100%;
    padding: 1em;
    color: white;
}

.message {
    margin: 5px auto;
}

.message.error {
    background: getColour(orange);
    border-radius: 2px;
    width: 100%;
    padding: 1em;
    color: white;
}

.message.warning {
    background: getColour(orange);
    border-radius: 2px;
    width: 100%;
    padding: 1em;
    color: white;
}

.message.success {
    background: green;
    border-radius: 2px;
    width: 100%;
    padding: 1em;
    color: white;
}


label {
    font-family: $font-text;
    font-weight: bold;
    padding: 5px;
    display: block;
    margin-top: 1rem;
}

.form-error {
    display: none;
    color: red;
    font-size: 0.9rem;
    margin-top: 2px;
}

@media (max-width: 600px) { 
    form {
        width: 250px;
    }
}




