.container {
    max-width: 1000px;
    margin: 0 auto;
}

form {
    width: 500px;
    padding: 20px;
}


input {
    border: 2px solid getColour(blue) ;
    border-radius: 2px;
    width: 100%;
    padding: 10px;
    font-size: 1em;
}


button {
    cursor: pointer;
    background: getColour(blue);
    border-radius: 5px;
    margin: 5px;
    border: none;
    width: 200px;
    padding: 1rem;
    color: white;
}

.message {
    margin: 5px auto;
}

.message.error {
    background: getColour(orange);
    border-radius: 2px;
    margin: 5px;
    width: 200px;
    padding: 10px;
    color: white;
}

.message.warning {
    background: getColour(orange);
    border-radius: 2px;
    width: 200px;
    padding: 10px;
    color: white;
}

.message.success {
    background: green;
    border-radius: 2px;
    width: 200px;
    padding: 10px;
    color: white;
}


label {
    font-family: $font-text;
    padding: 5px;
    display: block;
    margin-top: 1rem;
}

.form-error {
    display: none;
    color: red;
    font-size: 0.9rem;
    margin-top: 2px;
}

textarea {
    border: 1px solid getColour(blue) ;
    width: 100%;
}




