.container {
    max-width: 760px;
    margin: 0 auto;
}

form {
    padding: 20px;
    background: white;
    border-radius: 10px;
}

input {
    width: 100%;
    margin-top: 2px;
    padding: 10px;
    font-size: 1em;
}

button {
    background: getColour(darkgrey);
    border-radius: 5px;
    margin: 5px;
    border: none;
    width: 200px;
    padding: 1rem;
    color: white;
    cursor: pointer;
}



label {
    display: block;
    margin-top: 1rem;
}

.form-error {
    display: none;
    color: red;
    font-size: 0.9rem;
    margin-top: 2px;
}

