.menu {
   padding: 20px;
}

.menu-container {
    text-align: center;
    background-color: getColour(blue);
    width: 100%; 
}

.menu a {
    cursor: pointer;
    font-family: $font-a;
    color: getColour(white);
    padding: 20px;
    
    &:hover {
    font-weight: bold;
    transition: 0.5s;
    font-size: 1.2em;
}
}

.logo {
    display: grid;
    color: aqua;
}


i {
    padding: 10px;
    font-size: 30px;
    color: white;
    
    &:hover {
    color: getColour(hover);
}
}


#logout {
    margin: 0px auto;
    background-color: getColour(blue);
    border-radius: 5px;
    border: 2px solid white;
    width: 200px;
    padding: 1rem;
    color: white;

    &:hover {
        font-size: 1.2em;
        transition: 0.5s;
        background-color: getColour(hover);   
    }
}



@media (max-width: 670px) { 
   .menu {
       display: grid;
   }
   
}

