// menu sammen slik at vi bruker sass

.menu {
   padding: 20px;
}

.menu-container {
    text-align: center;
    background-color: getColour(blue);
    width: 100%; 
}

.menu a {
    cursor: pointer;
    font-family: $font-a;
    color: getColour(white);
    padding: 20px;
}

.menu a:hover {
    background-color: getColour(darkgrey);
    color: getColour(white) !important;
}

menu a.active {
    background-color: getColour(darkgrey);
    color: getColour(white) !important;
}

i {
    padding: 10px;
    font-size: 30px;
    color: white;
}

i:hover {
    color: aqua;
}




#logout {
    margin: 0px auto;
    background: getColour(blue);
    border-radius: 5px;
    border: none;
    width: 200px;
    padding: 1rem;
    color: white;
}

@media (max-width: 670px) { 
   .menu {
       display: grid;
   }

   .menu a {
       color: blue;
   }

   .menu-container {
       background-color: getColour(darkgrey);
   }
   
}

