h1 h2 {
    font-family: $font-logo;
    color: getColour(pink);
}

h4 {
    color: getColour(white);
}

p {
    font-family: $font-text;
    color: getColour(black);
    font-size: 1em;
}


a {
    font-family: $font-text;
}

