// h1,h2 etc. sammen slik at vi bruker sass

h1  {
    font-family: $font-logo;
    color: getColour(blue);
}

h2 {
    font-family: $font-logo;
    color: getColour(black);
}

h3 {
    font-family: $font-logo;
    color: getColour(white);
}

p {
    font-family: $font-text;
    color: getColour(black);
    font-size: 1em;
}


a {
    font-family: $font-text !important;
    text-decoration: none;
    color: getColour(black);
}

//color of hi Admin when logged in
span {
    color: white;
}

