h1  {
    font-family: $font-logo;
    color: getColour(white);
}

h4 {
    color: getColour(white);
}

p {
    font-family: $font-text;
    color: getColour(black);
    font-size: 1em;
}


a {
    font-family: $font-text;
    text-decoration: none;
    color: getColour(black);
}

//color of hi Admin when logged in
span {
    color: white;
}

