
$font-a:'Kanit', sans-serif;
$font-text: 'DM Sans', sans-serif;
$font-heading:'Be Vietnam Pro', sans-serif; 





$colours: (
    darkgrey: #dfe8f0,
    white: #FFFFFF,
    blue: #2742DB,
    lightblue: #B4D6FD,
    orange: #ff7801,
);


@function getColour($colour) {
    @return map-get($colours, $colour);
}




